$grafite: #202020d7;
$gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #e9ba5c 8%, #a87c1d 30%, #d4aa47 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e9d981 8%, #d8b75b 25%, #926d17 62.5%, #9c7825 100%);;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Encode Sans Expanded', sans-serif;}

    #container {
        width: 1920px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Garante que o #container tenha pelo menos a altura da viewport */
    }
    
    #whats{
        width: 100px;
        position: fixed;
        bottom: 30px;
        margin-right: 50px;
        display: flex;
        align-self: flex-end;
    }
    
    

header{
    padding-left: 2%;
    padding-right: 2%;
    height: 15vh;
    background-color: rgba(29, 29, 29, 0.356);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;



    #header-logo{
        height: 80%;
        
    }

    nav{
        display: flex;
        align-items: center;
        color: white;
        list-style: none;
        text-decoration: none;

    
        li{
            margin-left: 28px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bolder;
            letter-spacing: 2px;
        }
    }
    
}

#background{
    background-image: url(/assets/BACKGROUND3.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}



.homepage{
    background-color: $grafite;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    #homepage-slogan{
       // border: 1px solid red;
        text-align: center;
        color: white;
        width: 50%;
        letter-spacing: 2px;

        #lettering{
            width: 700px;
            margin-bottom: 7px;
           padding-bottom: 40px;
         //  border: 1px solid red;

        }
    }

    #big-logo{
        width: 750px;
    }

}


button{
    background: $gold;
    font-weight: 900;
    text-transform: uppercase;
    width: 60%;
    font-size: 21px;
    border: none;
    border-radius: 25px;
    padding: 18px;
    margin-top: 15px ;
}

h1{font-weight: 500;
font-size: 32px;
margin-bottom: 0px;}
h3{
    margin-top: 4px;
    font-size: 26px;
    font-weight: 200;}

.focus{
    border-bottom: 0.3em solid rgba(255, 196, 0, 0.836);
}

.area{
    background-color: white;
    width: 250px;
    height:250px;
}

.title{
    margin: 0;
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
   justify-content: center;
   width: fit-content;
   align-items: center;
   background: linear-gradient(to bottom, rgb(255, 217, 0), rgb(148, 101, 0)) no-repeat;
   background-size: 100% 5px; /* Altere a espessura aqui */
   background-position: 0 100%; /* Define a posição na parte inferior */
}

#atuacao{
    display: flex;
}

#aboutme{
    width: 50%;
    text-align: justify;
}
.about{
    padding: 3%;
    height: 100vh;
    background-color: $grafite;
display: flex;
flex-direction: column;
align-items: center;}


#texto{
    color: white;
}
    



#about-1{
    height: 45%;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#atuacao{
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#about-2{
    display: flex;
    justify-content: space-around;
    height: 55%;
    align-items: center;
    

    img{
        height: 400px;
    }

    #texto{
        font-size: 20px;
        font-weight: 500;
    }

}


.findme{
height: 150vh;
background-color: rgb(250, 250, 250);
}


#mapa{
    margin-top: 60px;
    width: 100%;
    height: 35%;
}
footer{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0% 5%;
    color: rgb(250, 250, 250,0.5);
    height: 10vh;
    background-color: black;
    text-transform:uppercase;
        
    p{padding: 7px;font-weight: 600;}
    span{font-size: 11px;
    }
}