@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Encode Sans Expanded";
}

#container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o #container tenha pelo menos a altura da viewport */
}

#whats {
  width: 9dvb;
  position: fixed;
  bottom: 30px;
  margin-right: 50px;
  display: flex;
  align-self: flex-end;
  border-radius: 50%;
  background: #32d10a;
  box-shadow: 0 0 0 rgba(26, 216, 0, 0.747);
  animation: pulse 2s infinite;
  cursor: pointer;
}
#whats:hover {
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(21, 255, 0, 0.11);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(43, 255, 0, 0.123);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(30, 255, 0, 0.062);
  }
}

header {
  padding: 0 5%;
  height: 15vh;
  background-color: rgba(29, 29, 29, 0.356);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-logo {
  height: 80%;
}
header nav {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  text-decoration: none;
}
header nav li {
  margin-left: 28px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
}
header nav li:hover {
  transform: scale(105%);
  transform: translateY(-10%);
  color: #FEDB37;
}
header nav .focus {
  border-bottom: 0.3em solid rgba(255, 196, 0, 0.836);
}

#background {
  background-image: url(./assets/BACKGROUND.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage {
  padding: 0 5%;
  background-color: rgba(48, 48, 48, 0.877);
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage #homepage-slogan {
  height: 85vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 2px;
}
.homepage #homepage-slogan #lettering {
  max-width: 90%;
  margin-bottom: 7px;
  padding-bottom: 40px;
}
.homepage #homepage-slogan h1 {
  font-weight: 500;
  font-size: 2vw;
  margin-bottom: 0px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5882352941);
}
.homepage #homepage-slogan h3 {
  margin-top: 4px;
  font-size: 1.5vw;
  font-weight: 200;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5882352941);
}
.homepage #big-logo {
  max-height: 85vh;
}

button {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #e9ba5c 8%, #a87c1d 30%, #d4aa47 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e9d981 8%, #d8b75b 25%, #926d17 62.5%, #9c7825 100%);
  font-family: "Encode Sans Expanded";
  font-weight: 800;
  text-transform: uppercase;
  width: 60%;
  font-size: 1.2vw;
  text-shadow: 0px 0px 15px #ffde97;
  border: none;
  border-radius: 25px;
  padding: 18px;
  margin-top: 15px;
  box-shadow: rgb(0, 0, 0) 15px 15px 30px -10px;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover {
  transform: scale(105%);
  transform: translateY(-10%);
}

.title {
  margin: 0;
  margin-bottom: 30px;
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5882352941);
  background: linear-gradient(to bottom, rgb(255, 217, 0), rgb(148, 101, 0)) no-repeat;
  background-size: 100% 5px; /* Altere a espessura aqui */
  background-position: 0 100%; /* Define a posição na parte inferior */
}

.area {
  background-color: white;
  width: 20%;
  box-shadow: rgb(0, 0, 0) 20px 25px 30px -10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.area button {
  box-shadow: rgb(0, 0, 0) 3px 5px 4px -2px;
  width: 80%;
  padding: 3%;
  font-size: 1vw;
}
.area h4 {
  margin: 0;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.area p {
  font-size: 0.8vw;
  text-align: center;
}

#atuacao {
  display: flex;
  padding: 2% 0%;
  justify-content: space-evenly;
  height: 100%;
}

#aboutme {
  width: 65%;
  height: 85%;
  text-align: justify;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5882352941);
}

.about {
  padding: 3%;
  height: 110vh;
  background-color: rgba(48, 48, 48, 0.877);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-1 {
  height: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#about-2 {
  display: flex;
  justify-content: space-around;
  height: 40%;
  align-items: center;
}
#about-2 #profile {
  height: 85%;
  filter: drop-shadow(4px 10px 17px rgba(0, 0, 0, 0.7058823529));
}
#about-2 #texto {
  font-size: 2.6vh;
  color: white;
  font-weight: 500;
}

.findme {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  background-color: rgb(250, 250, 250);
}
.findme button {
  position: absolute;
  transform: translateY(-75%);
  width: 30%;
}
.findme button:hover {
  transform: scale(105%);
  transform: translateY(-85%);
}

#mapa {
  margin-top: 80px;
  width: 100%;
  height: 35%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

footer {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
  color: rgba(250, 250, 250, 0.5);
  height: 10vh;
  background-color: black;
  text-transform: uppercase;
}
footer p {
  padding: 7px;
  font-weight: 600;
}
footer span {
  font-size: 11px;
}/*# sourceMappingURL=index.css.map */