
$gold: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #e9ba5c 8%, #a87c1d 30%, #d4aa47 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e9d981 8%, #d8b75b 25%, #926d17 62.5%, #9c7825 100%);;
$goldClick: radial-gradient(ellipse farthest-corner at right bottom, #bda124 0%, #8b671e 8%, #976f17 30%, #bd8c1b 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #e2e0e0 0%, #c7b96d 8%, #c0a250 25%, #7c5c11 62.5%, #85651d 100%);;

body{
    overflow-x:hidden;
    margin: auto;
    padding: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'Encode Sans Expanded', sans-serif;
}
::-webkit-scrollbar{
    width: 0.7em;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border-radius: 40px;
    background-color: rgba(158, 158, 158, 0.5);
}
#container{
    overflow-x:hidden;
    max-width: 1920px;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}
    
#whats{
    position: fixed;
    bottom: 30px;
    margin-right: 30px;
    display: flex;
    align-self: flex-end;
    z-index: 9999;
    cursor: pointer;

    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(21, 255, 0, 0.11);
        }
        70% {
          transform: scale(1.1);
          box-shadow: 0 0 0 15px rgba(43, 255, 0, 0.123);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(30, 255, 0, 0.062);
        }
    }
    
        img{
            width: 60px;
            border-radius: 50%;
            animation: pulse 2s infinite;
            background: #32d10a;
            box-shadow: 0 0 0 rgba(26, 216, 0, 0.747); 
            &:hover{
                animation: none;
            }
        
            &:active{
                transform: scale(110%);
            }
        }

}


.containere {
    margin: 0 auto;
    padding: 0 5%;
  }
  .header-area {    
    background-position: center center;
    position:sticky;
    z-index: 1;
    background-size: cover;
  }
  /* default css end */
  
  
  /* navbar regular css start */

  #header-logo{
    padding: 1%;
    height: 6vh;
  }
  .navbar-area {
    background: rgba(0, 0, 0, 0.555);    
    backdrop-filter: blur(2px);
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    transition: all 0.3s;
  }
  .site-navbar ul li a {
    font-weight: 700;
    color: #fff;
    padding: 2vh 12px;
    font-size: 14px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }

#background{
    background: url(../assets/background.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    
}

#homepage{
    padding: 0 5%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    #homepage-slogan{
       height: 85vh;
       width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        letter-spacing: 2px;

        #lettering{
            max-width: 90%;
            margin-bottom: 7px;
           padding-bottom: 40px;

        }
        h1{
            font-weight: 500;
            font-size: 1.7vw;
            text-shadow: 2px 2px 20px #00000096;

        }
        h3{
            margin-top: 4px;
            font-size: 1.5vw;
            font-weight: 200;
            text-shadow: 2px 2px 20px #00000096;

        }
            
            
    }

    #big-logo{
        max-height: 82vh;
    }

}


.falecmg-btn{
    background: $gold;
    font-family: 'Encode Sans Expanded';
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    font-size: 1vw;
    text-shadow: 0px 0px 15px #ffde97;
    border: none;
    border-radius: 25px;
    padding: 18px;
    margin-top: 1px ;
    box-shadow: rgb(0, 0, 0) 15px 15px 30px -10px;    transition: all 0.2s;
    cursor: pointer;

    &:hover{
        transform: translateY(-10%);
    }

    &:active{
        background: $goldClick;
    }

   

}



.title{
    margin: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
   justify-content: center;
   width: fit-content;
   align-items: center;
   text-shadow: 2px 2px 20px #00000096;
   background: linear-gradient(to bottom, rgb(255, 217, 0), rgb(148, 101, 0)) no-repeat;
   background-size: 100% 5px; /* Altere a espessura aqui */
   background-position: 0 100%; /* Define a posição na parte inferior */
}

.area{
    background-color: white;
    width:20%;
    box-shadow: rgb(0, 0, 0) 20px 25px 30px -10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-align: center;

    img{
        width: 30%;
        padding: 5%;
    }

    a{
        box-shadow: rgb(0, 0, 0) 3px 5px 4px -2px;
        width: 80%;
        padding: 3%;
        font-size: 1vw;
        
    }

    h4{
        margin: 0;
        font-size: 1.2vw;
        text-transform: uppercase;
    }
    p{  padding: 5%;
        font-size: 0.9vw;
        text-align: justify;
        text-justify: distribute;
        
    }
}
#atuacao{
    display: flex;
    padding: 2% 0%;
    justify-content: space-evenly;
    height: 100%;
    
}


#about{
    
    padding: 3%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    text-align: justify;
    text-shadow: 2px 2px 20px #00000096;
}


#about-1{
    height: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#about-2{
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: 40%;
    align-items: center;


    #texto{
        margin: 0;
        font-size: 2.7vh;
        color: white;
        font-weight: 500;
        text-align: justify;
        text-justify: distribute;
    }

}


#findme{
    
    display: flex;
    flex-direction: column;
    align-items: center;
height: 165vh;
background-color: rgb(240, 240, 240);

a{
    position: absolute;
    transform: translateY(-75%);
    width: 30%;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px -10px; 
    &:hover{
        transform: translateY(-85%);
    }
    }
}


.mapa{
    margin-top: 80px;
    width: 100%;
    height: 45%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    filter: blur(10px);
}

#contacts-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 55%;
    padding-top: 4%;

    img{
        height: 60%;
        padding-right: 3%;
        filter: drop-shadow(4px 4px 4px #333);

    }

    p{
        font-weight: 800;
        font-size: 2vh;
    }
}

#all-contacts{
    height: 60%;
    width: 38%;
    padding: 1% 0;
}
.contact{
    display: flex;
    align-items: center;
    height: 25%;
    padding: 0 3%;
    transition: all 0.2s ease;
    border-radius: 15px;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.219) 0px 0px 20px -2px;
        
    }
    &:active{
        background-color: rgba(0, 0, 0, 0.030);
        box-shadow: rgba(0, 0, 0, 0.473) 0px 0px 15px -2px;
        
    }
}

#email-container{
    height: 80%;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button{
        position: unset;
        transform: unset;
        font-size: 0.8vw;
        width: 95%;
        padding: 2%;
        margin: 0 15%;
        box-shadow: rgb(0, 0, 0) 10px 10px 10px -10px; 

        &:hover{
            transform: translateY(-10%);
        }
    }
    
 }

#email-form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    

    input, textarea{
        box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 6px;
        height: 2%;
        padding: 2%;
        width: 90%;
        border-radius: 5px;
        outline: none;
        border: none;
        font-family: 'Encode Sans Expanded', sans-serif;
    }

    textarea{
        height: 50%;
        resize: none;
    }
   
}



footer{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0% 5%;
    color: rgb(250, 250, 250,0.5);
    height: 10vh;
    background-color: black;
    text-transform:uppercase;
    font-size: 12px;
        
    p{padding: 7px;font-weight: 600;}
    span{font-size: 9px;
        a{
            text-decoration: underline;
            color: rgb(250, 250, 250,0.5);        }
    }
}

.animate{
    opacity: 0;
    filter: blur(5px);
    transition: all 0.8s ease-out;
}


.animate.from-bottom-text{
    transform: translateY(200%);
}
.animate.from-top{
    transform: translateY(-100%);
}
.animate.from-bottom{
    transform: translateY(30%);
}
.animate.from-right{
    transform: translateX(10%);
}
.animate.from-left{
    transform: translateX(-10%);
}

.animate.show{
    transform: translate(0);
    filter: blur(0);
    opacity: 1;
}
.info-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.info-popup {
    background-color: #fff;
    padding: 5%;
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 16px;
    opacity: 0;
    transform: translateY(-5%);
    transition: opacity 0.5s ease-in-out, transform 1s;

    img{
        width: 2.5vw;
        margin-right: 3%;
    }
    h2{
        display: flex;
        align-items: center;
        font-size: 2.5vw;
        margin: 2% 0
    }
    h2,p{
        padding: 0 12%;
    }
}

.info-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.info-popup.active {
    opacity: 1;
    transform: translateY(0);
}

.close-info-button {
    background-color: #0000001e;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 0 4% 0;
    transition: all 0.2s;

    &:hover{
        background-color: #0000009f;
    color: white;  }

    &:active{
        opacity: 0.8;
    }
    
}




@media screen and (min-width: 1921px) {
    body {
display: flex;
justify-content: center;    }

#homepage #homepage-slogan h1{
    font-size: 1.7vw;}
    
    .area{
    
        a, p{
            font-size: 16px;
        }

        h4{
            font-size: 25px;
        }

        img{
            width: 128px;
        }
        
            
    }
    .title{
            font-size: 42px;
        }
    #about-2{

        

        #texto{
            font-size: 21px;
        }
        
    }

    .info-popup {
        
        font-size: 21px;
       
    
    }
  }


 @media screen and (max-width: 800px) {

    .containere {
        max-width: 720px;
      }
      /* navbar css for mobile start */
      .nav-toggler{
        display: block;
      }
      .site-navbar {
        min-height: 60px;
      }
      .site-navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        
        background: rgba(0,0,0);
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      .site-navbar ul li {
        width: 100%;
        text-align: center;
        border-top: 1px solid #444;
      }
      .site-navbar ul li a {
        padding: 25px;
      }
      .site-navbar ul li a:hover {
        background-color: rgba(255,255,255,.1);
      }
      .site-navbar ul.open {
        min-height: 560%;
        overflow: hidden;
        position: fixed; /* Add this line */
  
      }
      .intro-area h2 {
        font-size: 36px;
        margin-bottom: 15px;
      }  
    #homepage{
        padding: 15% 5%;
        height: unset;
        flex-direction: column-reverse;
        justify-content:flex-end;
    
        
        #homepage-slogan{
           height: unset;
    
            #lettering{
                max-width: 80%;
               padding-bottom: 3%;
    
            }
            h1{
                font-size: 3vw;
                padding-bottom: 2%;
    
            }
              
                
        }
    
        #big-logo{
            max-height: unset;
            max-width: 50vw;
        }
    
    }
    
    
    .falecmg-btn{
        font-size: 3vw;
    }
    
    
    
    .title{
        margin-bottom: 3%;
        font-size: 4vw;
        background-size: 100% 2px;

    }
    
    .area{
        width:100%;
        height: 30vh;
        margin: 1% 0;
    
        img{
            width: 35%;
        }

        
    
        a{
            font-size: 2vw;
            
        }
    
        h4{
            font-size: 1.3vh;
        }
        p{  text-align: justify;
            text-justify: distribute;
            font-size: 1.2vh;
            padding: 5% 10%;
            hyphens:auto;

            
            
        }
    }
    #atuacao{
        height: 60vh;
        display:grid;
        grid-template-columns: 45% 45%;
        grid-row: auto auto;
        grid-column-gap: 0%;
        grid-row-gap: 1%;
        
    }
    
    
    #about{
        height: 100vh;
    }
    
    
    #aboutme{
        
        height: 40%;
    }
    
    
    #about-1{
        height: fit-content;
    }
    
    #about-2{
    
      #texto{
            font-size: 2.6vw;
        }
    
    }
    
    
    #findme{
        
        
    height: 130vh;
    
    a{
        width: 60%;
       
        }
    }
    
    
    .mapa{
        margin-top: 15%;
        height: 25%;
    }
    
    #contacts-container{
        
        flex-direction: column;
        height: 75%;
    
        img{
            height: 45%;
    
        }
    
        p{
            font-size: 1.2vh;
            
        }
    }
    
    #all-contacts{
        height: 30%;
        width: 95%;
        
    }
    .contact{
        width: 100%;       
        
    }
    
    #email-container{
        width: 90%;
        button{
            
            font-size: 3vw;
            
            padding: 5%;
            margin: 0 15%;

        }
        
     }
    
    #email-form{
        
        width: 100%;
        padding: 10% 5%;
        
    
        input, textarea{
            
            padding: 4%;
        }
    
       
    }
    
    
    
    footer{
        flex-direction: column;
        padding: 0% 5%;
        height: 7vh;
        font-size: 1.7vw;
            
        p{padding: 3px;}
        span{font-size: 1.7vw;
            
        }
    }
    

    
    .info-popup {
        
        font-size: 1.3vh;
        letter-spacing: 0;
        hyphens: auto;
       
    
        img{
            width: 4vh;
            margin-right: 10%;
        }
        h2{
            
            font-size: 2vh;
        }
     
    }
    
    .close-info-button {
        font-size: 13px;
        
        padding: 5px 20px;
        
    }
  }

  